.nav{
    background-color: rgb(37, 23, 75);
    border-radius: 25px;
    padding-top:auto;
    margin: auto;
   
   
}
.nav li{
    float: left;
    list-style: none;
    margin: 13px 20px;
    padding-top: 2px;
    
}
.search{
    float: right;
    padding: 12px 53px;
    color: moccasin;
}
 .nav input{
     border: 2px solid black;
     padding: 1px 28px;
     border-radius: 15px;
     width: 133px;
 } 
 
 .active a{
     background-color: rgb(1, 17, 7);
 }

.nav li a{
     text-decoration: none;
     color: mintcream;
     font-size: 18px;
     font-size: medium;
     border: 2px solid rgb(243, 237, 237);
     
     
}
.nav li :hover{
    color: red;
}

.nav  ul{
    overflow: auto;
}